# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
build/
android/.lib/
windows/.lib/
linux/.lib/

example/ios/Flutter/Generated.xcconfig
example/ios/Flutter/flutter_export_environment.sh
example/macos/Flutter/Generated.xcconfig
example/macos/Flutter/flutter_export_environment.sh

.tmp/
darwin/pdfium/ios/
darwin/pdfium/macos/
*.tgz
