name: pdfrx
description: pdfrx is a rich and fast PDF viewer implementation built on the top of pdfium. The plugin supports Android, iOS, Windows, macOS, Linux, and Web.
version: 1.0.75
homepage: https://github.com/espresso3389/pdfrx

environment:
  sdk: '>=3.3.0 <4.0.0'
  flutter: '>=3.19.0'

dependencies:
  # keep collection compatible with flutter_test, which still requires 1.18.0
  collection: ^1.18.0
  crypto: ^3.0.3
  ffi: ^2.1.2
  flutter:
    sdk: flutter
  http: ^1.2.1
  path: ^1.9.0
  path_provider: ^2.1.3
  # rxdart 0.27.7 to keep compatibility with other plugins
  rxdart: ^0.27.7
  synchronized: ^3.1.0
  url_launcher: ^6.3.0
  vector_math: ^2.1.4
  web: ^0.5.1

dev_dependencies:
  ffigen: ^12.0.0
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  plugin:
    platforms:
      android:
        ffiPlugin: true
      ios:
        ffiPlugin: true
        sharedDarwinSource: true
      linux:
        ffiPlugin: true
      macos:
        ffiPlugin: true
        sharedDarwinSource: true
      windows:
        ffiPlugin: true

# dart run ffigen
ffigen:
  output:
    bindings: 'lib/src/pdfium/pdfium_bindings.dart'
  headers:
    entry-points:
      - 'example/viewer/build/windows/x64/.lib/latest/include/fpdfview.h'
      - 'example/viewer/build/windows/x64/.lib/latest/include/fpdf_annot.h'
      - 'example/viewer/build/windows/x64/.lib/latest/include/fpdf_text.h'
      - 'example/viewer/build/windows/x64/.lib/latest/include/fpdf_doc.h'
      - 'example/viewer/build/windows/x64/.lib/latest/include/fpdf_edit.h'
      - 'example/viewer/build/windows/x64/.lib/latest/include/fpdf_formfill.h'
    include-directives:
      - 'example/viewer/build/windows/x64/.lib/latest/include/**'
  preamble: |
    // ignore_for_file: unused_field
  name: 'pdfium'
