name: pdfrx
description: High speed zooming/scrolling PDF viewer implementation that supports mobile, desktop, and Web.
version: 0.4.16
homepage: https://github.com/espresso3389/pdfrx

environment:
  sdk: '>=3.2.3 <4.0.0'
  flutter: '>=3.16.0'

dependencies:
  collection: ^1.18.0
  crypto: ^3.0.3
  ffi: ^2.1.0
  flutter:
    sdk: flutter
  http: ^1.1.2
  js: ^0.7.0
  path: ^1.8.3
  path_provider: ^2.1.2
  rxdart: ^0.27.7
  synchronized: ^3.1.0+1
  vector_math: ^2.1.4

dev_dependencies:
  ffigen: ^11.0.0
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  plugin:
    platforms:
      android:
        ffiPlugin: true
      ios:
        ffiPlugin: true
        sharedDarwinSource: true
      linux:
        ffiPlugin: true
      macos:
        ffiPlugin: true
        sharedDarwinSource: true
      windows:
        ffiPlugin: true

# dart run ffigen
ffigen:
  output:
    bindings: 'lib/src/pdfium/pdfium_bindings.dart'
  headers:
    entry-points:
      - 'example/build/windows/x64/.lib/include/fpdfview.h'
      - 'example/build/windows/x64/.lib/include/fpdf_annot.h'
      - 'example/build/windows/x64/.lib/include/fpdf_text.h'
      - 'example/build/windows/x64/.lib/include/fpdf_doc.h'
      - 'example/build/windows/x64/.lib/include/fpdf_formfill.h'
    include-directives:
      - 'example/build/windows/x64/.lib/include/**'
  name: 'pdfium'
